### Q1

In [4]:
x = range(2000, 3201, 1)
numbers=[]
for n in x:
    if n % 7 == 0 and n % 5 != 0:
        numbers.append(n)
print(numbers)

[2002, 2009, 2016, 2023, 2037, 2044, 2051, 2058, 2072, 2079, 2086, 2093, 2107, 2114, 2121, 2128, 2142, 2149, 2156, 2163, 2177, 2184, 2191, 2198, 2212, 2219, 2226, 2233, 2247, 2254, 2261, 2268, 2282, 2289, 2296, 2303, 2317, 2324, 2331, 2338, 2352, 2359, 2366, 2373, 2387, 2394, 2401, 2408, 2422, 2429, 2436, 2443, 2457, 2464, 2471, 2478, 2492, 2499, 2506, 2513, 2527, 2534, 2541, 2548, 2562, 2569, 2576, 2583, 2597, 2604, 2611, 2618, 2632, 2639, 2646, 2653, 2667, 2674, 2681, 2688, 2702, 2709, 2716, 2723, 2737, 2744, 2751, 2758, 2772, 2779, 2786, 2793, 2807, 2814, 2821, 2828, 2842, 2849, 2856, 2863, 2877, 2884, 2891, 2898, 2912, 2919, 2926, 2933, 2947, 2954, 2961, 2968, 2982, 2989, 2996, 3003, 3017, 3024, 3031, 3038, 3052, 3059, 3066, 3073, 3087, 3094, 3101, 3108, 3122, 3129, 3136, 3143, 3157, 3164, 3171, 3178, 3192, 3199]

## Q2

In [14]:
n = int(input("sabri het noumrou:"))

sabri het noumrou:12

In [4]:
a = int(input("enter a number"))
fact = 1
if a==0 or a ==1:
    print (1)
else:
    for i in range(1, a+1):
        fact = fact*i
print ( fact)

enter a number3
6

## Q3

In [15]:
n = int(input("please enter a number: "))
dictio={1:1}
for x in range(2, n):
    dictio[x]=x*x
print(dictio)

please enter a number: 7
{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36}

## Q4

In [21]:
n = int(input("please enter a number: "))
stri ="llsfkldlk"
newstri = stri[0:n]+stri[n+1: len(stri)]
print(newstri)

please enter a number: 2
llfkldlk

## Q5

In [23]:
import numpy as np
cars = np.array([["Ford", "Volvo", "BMW"],["ford", "voulvou", "biyem"]])

In [24]:
print (cars)

[['Ford' 'Volvo' 'BMW']
 ['ford' 'voulvou' 'biyem']]

In [46]:
list_cars = cars.tolist()

In [47]:
cars

array([['Ford', 'Volvo', 'BMW'],
       ['ford', 'voulvou', 'biyem']], dtype='<U7')

## Q6

In [49]:
arra1 = np.array ([0,1,2]) 
arra2= np.array([2, 1, 0]) 
arra3=np.cov( arra1, arra2)

In [50]:
arra3

array([[ 1., -1.],
       [-1.,  1.]])

## Q7

In [65]:
import math
C = 50
H = 30
D = str (input ("enter D :"))
lista = D.split(",")
listaokhra= [] 
for i in lista:
    k = int(i)
    Q = math.sqrt ((2 * C * k)/H)
    listaokhra.append(str(round(Q)))
print(listaokhra)
print(",".join(listaokhra))

enter D :100,150,180
['18', '22', '24']
18,22,24